@font-face {
  font-family: "iconfont"; /* Project id 4647260 */
  src: url('//at.alicdn.com/t/c/font_4647260_qdlhlgslp7j.woff2?t=1723084707944') format('woff2'),
       url('//at.alicdn.com/t/c/font_4647260_qdlhlgslp7j.woff?t=1723084707944') format('woff'),
       url('//at.alicdn.com/t/c/font_4647260_qdlhlgslp7j.ttf?t=1723084707944') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-githublogo:before {
  content: "\e607";
}

.icon-weibo:before {
  content: "\e73c";
}

.icon-lianjie:before {
  content: "\e651";
}

.icon-biaoqian:before {
  content: "\e604";
}

.icon-youjian:before {
  content: "\eb44";
}

.icon-shouyediqiu-copy:before {
  content: "\f7fe";
}

.icon-guidang:before {
  content: "\e6fb";
}

.icon-liebiao:before {
  content: "\e625";
}

.icon-bilibili:before {
  content: "\e602";
}

.icon-shouyediqiu:before {
  content: "\e6d5";
}

.icon-heart:before {
  content: "\e600";
}

.icon-fenlei:before {
  content: "\f7fd";
}

.icon-douyin:before {
  content: "\e601";
}
